<div class="panel panel-danger">
    <div class="panel-heading">
        <h2 class="panel-title">Error 404</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="text-center">
                            Page not found!
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="#/" type="button" class="btn btn-default">Return to home</a>
        </div>

    </div>
</div>
