<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">About Us</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="text-center">
                            LendingFront’s loan system is designed for businesses that need fast access to capital.
                            We believe that a healthy cash flow should drive the decision of granting a loan
                            rather than a personal credit score.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="#/register" type="button" class="btn btn-primary btn-lg">
                Register now <i class="fa fa-check"></i>
            </a>
        </div>
    </div>
</div>
